# Python caches
**/__pycache__/
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
venv_*/
*/venv_*/
*/.venv/
**/venv*/
**/.venv*/
**/venv/
**/.venv/

# Env files (NO subir local)
.env
.env.*
!.env.docker

# Logs
**/*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / packaging
**/build/
**/dist/
*.egg-info/

docker/postgres/backups/
*.log